.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.productCardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.productCard {

}

.img > img {
  width: 10em;
}